body {
    transition: background-color 0.5s, color 0.5s;
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    text-align: center;
    font-family: Arial, sans-serif;
}

.dark-mode-switch {
    position: absolute;
    top: 20px;
    right: 20px;
}

.toggle-label {
    display: block;
    width: 50px;
    height: 26px;
    background: var(--toggle-bg-light);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-label::before {
    content: '';
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: var(--toggle-handle-bg-light);
    position: absolute;
    left: 0;
    transition: transform 0.3s;
}

input[type="checkbox"] {
    visibility: hidden;
}

input[type="checkbox"]:checked + .toggle-label::before {
    transform: translateX(24px);
    background: var(--toggle-handle-bg-dark);
}

input[type="checkbox"]:checked + .toggle-label {
    background: var(--toggle-bg-dark);
}

body.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

/* Define CSS variables for light and dark modes */
:root {
    --bg-color-light: #fff;
    --text-color-light: #333;
    --toggle-bg-light: #ccc;
    --toggle-handle-bg-light: #fff;
    
    --bg-color-dark: #333;
    --text-color-dark: #fff;
    --toggle-bg-dark: #ccc;
    --toggle-handle-bg-dark: #333;
}
